body{
    background-image: url(https://images2.alphacoders.com/939/939737.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  height: 100vh;
}
main{
    
   flex-grow: 1;
}
h1{
    
}
.btn{
  border-radius: 1em;

  
}
.btn:hover{
  transform: scale(1.1);
  transition: ease-in-out 250ms;

}
.target{
  width: 50vw;
  border-radius: 20%;
  size: cover;
  background-color: crimson;
}
.target:hover{
  transform: scale(1.1);
  transition: ease-in-out 250ms;
  border-radius: 0%;
  box-shadow: 2em 2em 20em  crimson;
}
